/* ---------------------------------------------- */

@import "Nheengatu.scss";

/* ---------------------------------------------- */

#cover, #cover-image {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footnote-ref {
    vertical-align: super;
}

/* ---------------------------------------------- */